state: WV

links: 
- name: primary
  url: https://dhhr.wv.gov/COVID-19/Pages/default.aspx
  overseerScript: |
    page.manualWait();
    await page.waitForDelay(20000);
    await page.evaluate(() => {
      document.evaluate("//button/span[contains(text(),'Click here to view variant data')]", document, null, XPathResult.FIRST_ORDERED_NODE_TYPE, null).singleNodeValue.setAttribute("ctpclickhere", "ctpclickhere");
    });
    page.click("span[ctpclickhere]");
    await page.waitForDelay(60000);
    page.done();
  requestSettings:
    maxWait: 120000
  message: clicking on 'Click here to view variant data' box
